---
import "../style/mutual.css";
import Header from "../components/Header.astro";
import Eventsingle from "../components/Eventsingle.astro";
import Footer from "../components/Footer.astro";
import EventHero from "../components/EventHero.astro";
import Eventside from "./eventside.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" type="text/css" href="/style/mutual.css">
  </head>
  <body>
    <Header />
    <EventHero />
    <Eventsingle />
    <Footer />
  </body>
</html>
