---
import Eventkort from "../components/Eventkort.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

  <body>
    <Header />
    <Eventkort />
  </body>
  <Footer/>

<style>

  body {
    background-color: var(--Semantik-Baggrund-Beige);
  }
</style>
