---
import "../style/mutual.css";
import Guidelatte from "../components/Guidelatte.astro";
import Header from "../components/Header.astro"
import Guidelatte2 from "../components/Guidelatte2.astro"; 
---

<Header/>

<body>

<h1>Guide til matcha latte</h1>

<Guidelatte/>

<h2>Sådan laver du matcha latte:</h2>
<Guidelatte2 />

</body>   

<style>
    /* desktop version */ 

    body{
        background-color: var(--Semantik-Baggrund-Beige);
    }
    h1{
        text-align: center;
        gap: 10px;
        padding: 60px 10px 0px 10px;
    }

    h2{
        gap: 10px;
        /* top right bottom left */
        padding: 50px 0px 40px 98px;
    }

    @media (max-width: 820px){
            /* mobil version */ 

       /*ændre størrelsen på fonten til den rigtige */
     h1{
        text-align: center;
        gap: 10px;
        /* padding: 50px 10px 0px 10px; */
        font-size: 40px;
        padding: 20px 18px 20px 18px;
    }

    h2{
        gap: 10px;
        padding-top: 40px;
        padding-right: 18px;
        padding-left: 18px;
        padding-bottom: 20px;
        font-size: 30px;
    }
    } 

</style>