---
import "../style/mutual.css";
import Guidete from "../components/Guidete.astro";
import Header from "../components/Header.astro"
import Guidete2 from "../components/Guidete2.astro"; 
---

<Header/>

<h1>Guide til matcha te</h1>
<Guidete />

<h2>Sådan laver du matcha te:</h2>
<Guidete2 />

<style>
     /* mobil version */ 

       /*ændre størrelsen på fonten til den rigtige */
     h1{
        text-align: center;
        gap: 10px;
        padding: 50px 10px 0px 10px;
    }

    h2{
        gap: 10px;
        padding-top: 119px;
        padding-right: 0px;
        padding-left: 50px;
        padding-bottom: 30px;
    }

        /* ipad/tablet version */ 
   @media (min-width: 820px) {

    /*ændre størrelsen på fonten til den rigtige */
    h1{
        text-align: center;
        gap: 10px;
        padding: 50px 10px 0px 10px;
    }

    h2{
        gap: 10px;
        padding-top: 119px;
        padding-right: 0px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
   }

    /* desktop version */ 
    @media (min-width: 1000px) {
        h1{
        text-align: center;
        gap: 10px;
        padding: 50px 10px 0px 10px;
    }

    h2{
        gap: 10px;
        /* top right bottom left */
        padding: 119px 0px 40px 98px;
    }

    }


</style>