---
import "../style/mutual.css";
import Guidete from "../components/Guidete.astro";
import Header from "../components/Header.astro"
---

<Header/>

<h1>Guide til matcha te</h1>
<Guidete />

<h2>Sådan laver du matcha te:</h2>

<style>
    h1{
        text-align: center;
        gap: 10px;
        padding: 50px 10px 0px 10px;
    }
</style>