---
import Header from "../components/Header.astro"
// import Overskrift from "../components/Overskrift.astro";
import Billedemenu from "../components/Billedemenu.astro";
import Hvadermatcha from "../components/Hvadermatcha.astro";
import Banner1 from "../components/Banner1.astro";
import Slange from "../components/Slange.astro";
import Banner2 from "../components/Banner2.astro";
import Grafik from "../components/Grafik.astro";
import Kollektioner from "../components/Kollektioner.astro";
import Matchasaet from "../components/Matchasaet.astro";
import Matchaguide from "../components/Matchaguide.astro";
import Banner3 from "../components/Banner3.astro";
import Event_billeder from "../components/Event_billeder.astro";
import Banner0 from "../components/Banner0.astro";
import Knap from "../components/Knap.astro";
import "../style/mutual.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <!-- <Overskrift /> -->
    <Banner0 />
    <Billedemenu />
    <Banner1 />
    <Hvadermatcha />
    <h2 id="jump"> Fordele ved matcha</h2>
    <Slange />
    <Banner2 />
    <Grafik />
    <Kollektioner /> 
    <Matchasaet />
    <Matchaguide />
    <Banner3 />
    <Event_billeder />
    <Knap />
  </body>
  <Footer/>
</html>


<style>

body {
  background-color: var(--Semantik-Baggrund-Beige);
}
  
  h2 {
    text-align: center;
  }
</style>
