---
import Header from "../components/Header.astro"
import Overskrift from "../components/Overskrift.astro";
import Billedemenu from "../components/Billedemenu.astro";
import Hvadermatcha from "../components/Hvadermatcha.astro";
import Banner1 from "../components/Banner1.astro";
import "../style/mutual.css";




---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Overskrift />
    <Billedemenu />
    <Banner1 />
    <Hvadermatcha />
    <h2> Fordele ved matcha</h2>
    
   
  </body>
</html>


<style>

body {
  background-color: var(--Semantik-Baggrund-Beige);
}
  
</style>
