---
import "../style/mutual.css";
import Guidelatte from "../components/Guidelatte.astro";
import Header from "../components/Header.astro";
import Guidelatte2 from "../components/Guidelatte2.astro";
import Footer from "../components/Footer.astro";
import Matchalattev from "../components/Matchalattev.astro";
---

<Header />

<ul class="breadcrumb">
  <li><a href="/matcha">Matcha guide</a></li>
  <li><a href="/latteguide">Guide til matcha latte</a></li>
</ul>

<body>
  <h1>Guide til matcha latte</h1>

  <Guidelatte />

  <h2>Sådan laver du matcha latte:</h2>
  <Guidelatte2 />

  <Matchalattev />
</body>

<Footer />

<style>
  /* desktop version */
  body {
    background-color: var(--Semantik-Baggrund-Beige);
  }
  h1 {
    text-align: center;
    gap: 10px;
    padding: 60px 10px 0px 10px;
    font-family: "didotltstd-roman";
  }

  h2 {
    gap: 10px;
    /* top right bottom left */
    padding: 50px 0px 40px 98px;
    font-family: "didotltstd-roman";
  }

  ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  padding-top: 30px;
  margin-left: 7%;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--Primitives-Farver-Hvid-sort-09);
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--Primitives-Farver-Hvid-sort-09);
  text-decoration: none;
  font-family: "avenirnext-regular";
  font-size: 15px;
}

ul.breadcrumb li a:hover {
  color: var(--Semantik-Knap-Red);
  text-decoration: none;
}

  @media (max-width: 820px) {
    /* mobil version */
    h1 {
      text-align: center;
      gap: 10px;
      /* padding: 50px 10px 0px 10px; */
      font-size: 40px;
      padding: 30px 18px 20px 18px;
      font-family: "didotltstd-roman";
    }

    h2 {
      gap: 10px;
      padding-top: 50px;
      padding-right: 18px;
      padding-left: 30px;
      padding-bottom: 10px;
      font-size: 30px;
      font-family: "didotltstd-roman";
    }
  }
</style>