---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import Matchaguide from "../components/Matchaguide.astro";
import Matchaside from "../components/Matchaside.astro";
---

<Header />

<body>
    <h1>Matcha guide</h1>
    <p>
      Her kan du se en række forskellige guides som vi har samlet til dig. Nedenstående finder du en opskrift på hvordan du kan lave en matcha te, matcha latte og en samlet matcha guide, som indeholder alt fra matcha produkter til brugbare informationer om matcha.
    </p>
    <Matchaside />
</body>


<Footer />

<style>
    body{
        background-color: var(--Semantik-Baggrund-Beige);
    }

    h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "didotltstd-roman";
  }
  p{
    font-size: 13px;
    font-family: "avenirnext-regular";
    margin-left: 452px;
    margin-right: 452px;
    margin-bottom: 50px;
  }

  /* mobil version */ 
  @media (max-width: 820px){
    h1{
      font-size: 40px;
      padding-top: 25px;
      padding-bottom: 15px;
    }

    p{
    font-size: 12px;
    font-family: "avenirnext-regular";
    margin: 0px;
    padding-inline: 20px;
    padding-bottom: 25px;
  }
  }

  @media (min-width: 1900px) {
    p {
      font-size: 15px;
      margin-left: 550px;
      margin-right: 550px;
    }
  }

</style>