---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import Matchaguide from "../components/Matchaguide.astro";
import Matchaside from "../components/Matchaside.astro";
---

<Header />

<body>
    <Matchaside />
</body>


<Footer />

<style>
    body{
        background-color: var(--Semantik-Baggrund-Beige);
    }
</style>