---
//@ts-nocheck
import Header from "../components/Header.astro"
import "../styles/mutual.css";
import Shopalt from "../components/Shopalt.astro";
import Footer from "../components/Footer.astro";
---


<body>
    
    <Header />
    <Shopalt />
    <Footer />
</body>


<style>

    body {
        background-color: var(--Semantik-Baggrund-Beige);
    }
</style>