* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--Semantik-Baggrund-Beige); */
}

@font-face {
  font-family: avenirnext-regular;
  src: url("avenirnext-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: didotltstd-roman;
  src: url("didotltstd-roman-webfont.woff2") format("woff2");
}

/* til desktop version */

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

:root {

--Primitives-Farver-Beige-01: #F5EEE6;
--Primitives-Farver-Beige-02: #F3EBE2;
--Primitives-Farver-Beige-03: #EEE1D3;
--Primitives-Farver-Beige-04: #E8D7C5;
--Primitives-Farver-Beige-05: #E2CDB6;
--Primitives-Farver-Beige-06: #DCC4A7;
--Primitives-Farver-Beige-07: #D6BA99;
--Primitives-Farver-Beige-08: #D0B08A;
--Primitives-Farver-Beige-09: #CBA67C;
--Primitives-Farver-Brun-01: #E6E1DB;
--Primitives-Farver-Brun-02: #DDD7CF;
--Primitives-Farver-Brun-03: #D5CDC3;
--Primitives-Farver-Brun-04: #CCC3B7;
--Primitives-Farver-Brun-05: #C1B6A8;
--Primitives-Farver-Brun-06: #BBAFA0;
--Primitives-Farver-Brun-07: #B3A594;
--Primitives-Farver-Brun-08: #AA9B88;
--Primitives-Farver-Brun-09: #A2917C;
--Primitives-Farver-Grøn-01: #F4FAF0;
--Primitives-Farver-Grøn-02: #DDF0D1;
--Primitives-Farver-Grøn-03: #C6E6B2;
--Primitives-Farver-Grøn-04: #AFDC93;
--Primitives-Farver-Grøn-05: #79B951;
--Primitives-Farver-Grøn-06: #5A9A32;
--Primitives-Farver-Grøn-07: #3F6C23;
--Primitives-Farver-Grøn-08: #2D4D19;
--Primitives-Farver-Grøn-09: #1B2E0F;
--Primitives-Farver-Hvid-sort-01: #FFFFFF;
--Primitives-Farver-Hvid-sort-02: #F5F5F5;
--Primitives-Farver-Hvid-sort-03: #B8B8B8;
--Primitives-Farver-Hvid-sort-04: #999999;
--Primitives-Farver-Hvid-sort-05: #7A7A7A;
--Primitives-Farver-Hvid-sort-06: #5C5C5C;
--Primitives-Farver-Hvid-sort-07: #3D3D3D;
--Primitives-Farver-Hvid-sort-08: #1F1F1F;
--Primitives-Farver-Hvid-sort-09: #0A0A0A;
--Primitives-Farver-Rød-01: #BF363D;
--Primitives-Farver-Rød-02: #AF3138;
--Primitives-Farver-Rød-03: #9F2D33;
--Primitives-Farver-Rød-04: #8F282E;
--Primitives-Farver-Rød-05: #812429;
--Primitives-Farver-Rød-06: #6F1F23;
--Primitives-Farver-Rød-07: #5F1B1E;
--Primitives-Farver-Rød-08: #501619;
--Primitives-Farver-Rød-09: #401214

  --Semantik-10: #7E2323;
  --Semantik-Baggrund-Beige: var(--Primitives-Farver-Beige-01);
--Semantik-Baggrund-Brown: var(--Primitives-Farver-Brun-05);
--Semantik-Baggrund-Lysebrun: var(--Primitives-Farver-Brun-03);
--Semantik-Footer-Brown: var(--Primitives-Farver-Brun-05);
--Semantik-Knap-Brown: var(--Primitives-Farver-Brun-05);
--Semantik-Knap-Hvid: var(--Primitives-Farver-Hvid-sort-01);
--Semantik-Knap-Red: var(--Primitives-Farver-Rød-05);
--Semantik-Text-Knaptext-Black: var(--Primitives-Farver-Hvid-sort-09);
--Semantik-Text-Knaptext-Brun: var(--Primitives-Farver-Brun-05);
--Semantik-Text-Knaptext-Green: var(--Primitives-Farver-Grøn-07);
--Semantik-Text-Knaptext-White: var(--Primitives-Farver-Hvid-sort-01);
--Semantik-Text-Knaptext-red: var(--Primitives-Farver-Rød-05);
--Semantik-Text-Overskrift-Black: var(--Primitives-Farver-Hvid-sort-09);
--Semantik-Text-Overskrift-Green: var(--Primitives-Farver-Grøn-07);
--Semantik-Text-Overskrift-Hvid: var(--Primitives-Farver-Hvid-sort-01);
--Semantik-Text-Overskrift-Lightgreen: var(--Primitives-Farver-Grøn-05);
--Semantik-Text-Overskrift-Red: var(--Primitives-Farver-Rød-05);
--Semantik-Text-brødtekst-White: var(--Primitives-Farver-Hvid-sort-01);
--Semantik-Text-brødtekst-black: var(--Primitives-Farver-Hvid-sort-09)


}