
<div class="hero2">
    <div class="center">
    <h3>Hvad kan du gøre?</h3>
  </div>
  </div>
  
  <style>
    .hero2 {
      background-image: url(/images/matcha.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
      margin: 0;
    }
  
    h3 {
      font-size: 120px;
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "campton-bold";
      margin: 0;
      /* position: absolute;
      top: 200%; */
     
     
    }
  
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    @media (max-width: 1024px) {
      h3 {
      font-size: 90px;
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "campton-bold";
      margin: 0;
      /* position: absolute;
      top: 50%; */
    }
      .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
    @media (max-width: 820px) {
      h3 {
      font-size: 40px;
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "campton-bold";
      margin: 0;
      /* position: absolute;
      top: 50%; */
    }
      .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
  </style>
  