---
import "../style/mutual.css";
---
<div class="hero2">
    <div class="center">
    <h2>Deltag i et matcha event</h2>
  </div>
  </div>
  
  <style>
    .hero2 {
      background-image: url(/images/matcha.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
      margin: 0;
    }
  
    h2 {
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "didotltstd-roman";
      margin: 0;
      padding-top: 200px;
      font-size: 50px;
   
     
     
    }
  
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    @media (max-width: 1024px) {
      h2 {
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "didotltstd-roman";
      margin: 0;
      font-size: 30px;
    
    }
      .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
    @media (max-width: 820px) {
      h2 {
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "didotltstd-roman";
      margin: 0;
   
    }
      .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }

    @media (min-width: 1900px) {
      h2 {
      color: var(--Semantik-Text-Overskrift-Black);
      font-family: "didotltstd-roman";
      margin: 0;
      padding-top: 400px;
      font-size: 60px;
   
     
     
    }
    }
  </style>
  