<!-- <div class="grid"> -->
  <div class="div1">
    <div>
    <h2>Kommende events</h2>
    <p class="p1">
      Året igennem afholder Viktoria Ceramic Studio forskellige events og
      workshops. Vi deltager også på forskellige internationale udstillinger og
      messer, hvor vi sælger vores ting direkte til de besøgende. 
    </p>
    <p class="p1">
      Vi har blandt andet set stor interesse i vores årlige julemarkeder, som vi
      afholder en gang om året. Her kan du finde 2. sorterings salg af keramik,
      skitser og udgåede varer. Her er det muligt at finde en unik keramisk gave
      eller forkæle dig selv med dansk håndlavet design til gode priser. Vi har
      blandt andet set stor interesse i vores årlige julemarkeder, som vi
      afholder en gang om året.
    </p>
  </div>
    <img class="img1" src="/eventbilleder/butik_5356.webp" alt="" />
  </div>
<!-- </div> -->
<!-- <div class="grid1"> -->
<div class="event1">
  <img class="img3" src="/eventbilleder/matcha.png" alt="" />
  <div>
    <h3>Martiny Matcha event</h3>
  
      <p> <span id="lokation"> Lokation: </span> Gammel Kongevej 91, Sakura Copenhagen</p>
  
    
    <div class="knap">
      <a href="event_single"><button>LÆS MERE</button></a>
    </div>
  </div>
</div>

<div class="event2">
  <img class="img3" src="/eventbilleder/kintsugi.png" alt="" />
  <div>
    <h3>Kintsugi event</h3>
    <p>Lokation: Gammel Kongevej 91, Sakura Copenhagen</p>
    <div class="knap">
      <button>LÆS MERE</button>
    </div>
  </div>
</div>
<div class="event3">
  <img class="img3" src="/eventbilleder/origami.png" alt="" />
  <div>
    <h3>Origami event</h3>
    <p>Lokation: Gammel Kongevej 91, Sakura Copenhagen</p>
    <div class="knap">
      <button>LÆS MERE</button>
    </div>
  </div>
</div>
<!-- </div> -->

<style>
  /* mobilefirst version */

  .img1{
      width: 90%;
      height: auto;
      border-radius: 30px;
      margin: 5%;
    }
  #lokation {
    font-weight: bold;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* .div1 {
    margin-inline: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .divimg {
    order: -1;
  } */

  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .event1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
    background-color: var(--Primitives-Farver-Brun-06);
    border-radius: 30px;
  }

  .event2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
    background-color: var(--Primitives-Farver-Brun-06);
    border-radius: 30px;
  }

  .event3 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
    background-color: var(--Primitives-Farver-Brun-06);
    border-radius: 30px;
  }

  /* .img1 {
      margin-inline: 7%;
      padding-top: 38px;
      padding-bottom: 20px;
      width: 87%;
    } */

  .img3 {
    width: 100%;
    border-radius: 30px;
  }

  .overskrift_events {
    font-family: "didotltstd-roman";
    font-size: 23px;
    padding-bottom: 30px;
  }

  p {
    font-family: "avenirnext-regular";
    line-height: 1.5em;
    font-size: 15px;
    padding-bottom: 23px;
    padding-left: 15px;
    text-align: left;
  }

  .p1{
    font-size: 15px;
    padding-left: 25px;
    padding-right: 20px;
  }

  h2{
    font-size: 30px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  h3 {
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
    font-family: "didotltstd-roman";
    font-size: 20px;
    padding-top: 20px;
  }

  /* h5 {
    padding-bottom: 23px;
    padding-left: 10px;
    text-align: left;
  } */
  .knap {
    padding-left: 12px;
    padding-bottom: 20px;
  }

    .div1{
      padding-bottom: 25px;
    }

    button {
      right: 40%;
      padding: 15px;
      background-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Baggrund-Beige);
      font-size: 15px;
      border-radius: 40px;
      width: 50%;
      cursor: pointer;
      border-style: solid;
      border: none;
    }

    button:hover {
      background-color: var(--Semantik-Baggrund-Brown);
      border-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Knap-Red);
      border-style: solid;
    }

  /* desktop version */
  @media (min-width: 1000px) {

    .img1{
      width: 100%;
      height: auto;
      border-radius: 30px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--Semantik-Baggrund-Beige);
    }

    .grid1 {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 40px;
      padding-bottom: 30px;
      text-align: center;
    }
    .div1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      /* top, right, bottom, left */
      padding:50px 125px 10px 92px;
      margin: 0;
    }

    h2{
      font-size: 50px;
      font-family: "didotltstd-roman";
      padding-top: 40px;
      padding-bottom: 35px;
      padding-left: 28px;
    }

    h3 {
      padding-top: 50px;
      padding-bottom: 27px;
      padding-left: 27px;
      text-align: left;
      font-size: 30px;
    }



    p {
    font-family: "avenirnext-regular";
    line-height: 1.5em;
    font-size: 20px;
    padding-bottom: 23px;
    padding-left: 27px;
    text-align: left;
  }

  .p1{
    font-size: 15px;
    line-height: 1.8em;
        padding-bottom: 20px;
  }

  .knap {
    padding-left: 20px;
    padding-top: 30px;
  }

    /* h5 {
      padding-bottom: 23px;
      padding-top: 15px;
      text-align: left;
      padding-left: 27px;
    } */

    .divimg {
      order: 1;
      margin-top: 5%;
    }

    .img3 {
      width: 100%;
      height: auto%;
      border-radius: 30px;
    }

    .event1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--Primitives-Farver-Brun-06);
      border-radius: 30px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .event2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--Primitives-Farver-Brun-06);
      border-radius: 30px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .event3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--Primitives-Farver-Brun-06);
      border-radius: 30px;
      margin-left: 100px;
      margin-right: 100px;
    }

    button {
      right: 40%;
      padding: 15px;
      background-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Baggrund-Beige);
      font-size: 15px;
      border-radius: 40px;
      width: 50%;
      cursor: pointer;
      border-style: solid;
      border: none;
    }

    button:hover {
      background-color: var(--Semantik-Baggrund-Brown);
      border-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Knap-Red);
    }
  

  }
</style>
