---
import "../style/mutual.css";
---
<div id="jump0" class="hero2">
  <div class="center">
  <h2>Martinys Matcha Event</h2>
</div>
</div>

<style>
  .hero2 {
     background-image: url(/images/matcha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0;
  }

  h2 {
    color: var(--Text-Overskrift-Black);
    font-family: "didotltstd-roman";
    margin: 0;
    padding-top: 200px;
    font-size: 50px;
 
   
   
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    h2 {
      color: var(--Text-Overskrift-Black);
    font-family: "didotltstd-roman";
    margin: 0;
    font-size: 30px;
  
  }
    .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
  @media (max-width: 820px) {
    h2 {
      color: var(--Text-Overskrift-Black);
    font-family: "didotltstd-roman";
    margin: 0;
 
  }
    .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
</style>

<!-- <div class="hero">
  <h1>Martiny Matcha Event</h1>
  <img class="img" src="../public/eventbilleder/hero3.png" alt="" />
</div>

<style>


  .event {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
    font-size: 25px;
  }

 
  @media (min-width: 1000px) {
    h1 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
    font-size: 60px;
  }
  }

</style>

 -->
