<div class="hero">
  <img class="img1" src="../public/eventbilleder/hero.jpg" alt="" />
  <h1>Martiny Matcha Event</h1>
</div>
<section class="event">
  <div>
    <img class="img2" src=" ..public eventbilleder single.jpg" alt="" />
  </div>
  <h3>Deltag i Matcha event</h3>
  <p>
    Matcha består af helt fintmalede grønne teblade og indeholder alle de mange
    mineraler, antioxidanter og vitaminer, som grøn te er kendt for. Mange
    drikker matcha som en erstatning for kaffe, imens de nyder den
    karaktersitiske og komplekse smag. Noget matcha kan smage bittert. Men hvis
    teen tilberedes på den helt rigtige måde, ved den rette temperatur, vil teen
    smage fyldig, let sød og frisk.
  </p>
  <p>
    I samarbejde med Martinis Matcha, afholder Sakura Copenhagen et matcha event
    og workshop. Her har du mulighed for at lære mere om matcha, hvordan det
    tilberedes og de sundhedsmæssige fordele det har.
  </p>

  <h3>pris</h3>
</section>

<style>
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
  }
  .img1 {
    width: 100%;
  }
  .img2 {
    width: 50%;
  }

  @media (min-width: 1000px) {
  }
</style>
