<div class="hero">
  <h1>Martiny Matcha Event</h1>
  <img class="img" src="../public/eventbilleder/hero3.png" alt="" />
</div>

<style>
  .event {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
    font-size: 60px;
  }

  @media (min-width: 1000px) {
  }

  h1 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
    font-size: 25px;
  }
</style>
