---
import "../style/mutual.css";
---
<section class="event">
  <!-- <div class="event1"> -->
  <div class="første">
    <div class="overskift1">
      <h3>Deltag i Matcha event</h3>
    </div>
    <div class="hele tekst">
      <div class="tekst1">
        <p>
          Matcha består af helt fintmalede grønne teblade og indeholder alle de
          mange mineraler, antioxidanter og vitaminer, som grøn te er kendt for.
          Mange drikker matcha som en erstatning for kaffe, imens de nyder den
          karaktersitiske og komplekse smag. Noget matcha kan smage bittert. Men
          hvis teen tilberedes på den helt rigtige måde, ved den rette
          temperatur, vil teen smage fyldig, let sød og frisk.
        </p>
      </div>
      <div class="tekst2">
        <p>
          I samarbejde med Martinis Matcha, afholder Sakura Copenhagen et matcha
          event og workshop. Her har du mulighed for at lære mere om matcha,
          hvordan det tilberedes og de sundhedsmæssige fordele det har.
        </p>
      </div>
    </div>
    <div class="pris">
      <div class="beløb">
        <p><span>pris:</span> 250kr</p>
      </div>
      <center><button> Tilføj til kurv</button></center>
    </div>
  </div>
  <div class="img2">
    <img src="../public/eventbilleder/matchaevent.png" alt="" />
  </div>
</section>

<section class="event">
  <div>
    <img class="img2" src="../public/eventbilleder/matchaevent4.png" alt="" />
  </div>
  <div class="anden">
    <div class="overskrift2">
      <h3>Ved Køb af Matcha event får du:</h3>
    </div>
    <div class="liste">
      <div class="boks_1">
        <h2>1.</h2>
        <p>1 stk Martiny’s Matcha pulver til en værdi af 189 kr</p>
      </div>
      <div class="boks_2">
        <h2>2.</h2>
        <p>Information omkring matcha teens historie</p>
      </div>
      <div class="boks_3">
        <h2>3.</h2>
        <p>Undervisning i at lave den perfekte matcha te eller latte</p>
      </div>
      <div class="boks_4">
        <h2>4.</h2>
        <p>Undervisning i at lave den perfekte matcha te eller latte</p>
      </div>
      <div class="boks_5">
        <h2>5.</h2>
        <p>15% på alle matcha produkter i butikken</p>
      </div>
    </div>
  </div>
</section>

<style>
  /* mobile first */

  .pris {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10%;
    text-align: right;
  }
  html {
    background-color: var(--Semantik-Baggrund-Beige);
  }
  .boks_1,
  .boks_2,
  .boks_3,
  .boks_4,
  .boks_5 {
    display: flex;
    gap: 10px;
    padding: 20px 10px 10px 10px;
  }
  p {
    font-size: 15px;
    /* padding-top: 25px;
    padding-left: 10px; */
    font-family: "avenirnext-regular";
  }

  /* .tekst1,
  .tekst2 {
    margin-inline: %;
    margin-left: -2%;
    margin-top: %;
    margin-bottom: 5%;
  } */

  .event {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .første {
    margin-left: 10%;
  }

  .anden {
    margin-right: 10%;
  }
  .list {
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h1 {
    /* /* position: absolute; */
    text-align: center;
    font-size: 50px;
    color: var(--Semantik-Text-brødtekst-White);
    /* position: absolute; */
    font-size: 30px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
  }

  img {
    width: 100%;
    height: auto;
  }
  .img1 {
    width: 100%;
    border-radius: 10%;
  }
  .img2 {
    width: 100%;
    border-radius: 10%;
  }

  button {
    border: none;
    padding: 10px;
    background-color: var(--Semantik-Knap-Red);
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 90%;
    color: var(--Semantik-Text-Knaptext-White);
    margin: 5%;
  }

  .overskrift2 {
    margin-left: 7%;
    margin-top: 8%;
  }

  button:hover {
    background-color: var(--Semantik-Text-Knaptext-White);
    color: var(--Semantik-Text---Semantik-Text-Knaptext-red);
  }

  h2 {
    margin-inline: 5%;
    font-size: 30px;
    color: var(--Semantik-Text-Knaptext-Green);
  }

  @media (min-width: 1000px) {
    span {
      font-weight: bold;
    }

    p {
      font-size: 20px;
      padding-left: 10px;
      font-family: "avenirnext-regular";
    }

    h2 {
      margin-inline: 5%;
      font-size: 40px;
      color: var(--Semantik-Text-Knaptext-Green);
    }
    .boks_1,
    .boks_2,
    .boks_3,
    .boks_4,
    .boks_5 {
      display: flex;
      gap: 10px;
      padding: 20px 10px 10px 10px;
    }

    .pris {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* padding: 10%; */
      text-align: left;
    }
    html {
      background-color: var(--Semantik-Baggrund-Beige);
    }

    .event {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    /* .første {
      margin-left: 10%;
    } */

    /* .anden {
      margin-right: 10%;
    } */
    /* .list {
      margin-inline: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
    } */
    .tekst1,
    .tekst2 {
      margin-inline: 5%;
      margin-left: -10%;
      padding-top: 25px;
      /* margin-top: %;
      margin-bottom: 5%; */
    }

    .overskift1 {
      /* margin-inline: 5%; */
      margin-left: -8%;
    }

    .overskrift2 {
      margin-left: 7%;
      margin-top: 8%;
    }
    h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--Semantik-Text-brødtekst-White);
    }

    h3 {
      font-family: "didotltstd-roman";
    }

    .img1 {
      width: 100%;
      border-radius: 10%;
    }
    .img2 {
      width: 100%;

      border-radius: 10%;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 10%;
    }

    button {
      justify-content: left;
      border: none;
      padding: 10px;
      background-color: var(--Semantik-Knap-Red);
      font-size: 15px;
      /* border-radius: 20px; */
      cursor: pointer;
      width: 100%;
      color: var(--Semantik-Text-Knaptext-White);
    }

    button:hover {
      background-color: var(--Semantik-Text-Knaptext-White);
      color: var(--Semantik-Text---Semantik-Text-Knaptext-red);
    }
  }
</style>
