---

---

<div class="grid">
  <div class="div1">
    <h2 class="overskrift_events">KOMMENDE EVENTS</h2>
    <p>
      Året igennem afholder Viktoria Ceramic Studio forskellige events og
      workshops. Vi deltager også på forskellige internationale udstillinger og
      messer, hvor vi sælger vores ting direkte til de besøgende.
    </p>
    <p>
      Vi har blandt andet set stor interesse i vores årlige julemarkeder, som vi
      afholder en gang om året. Her kan du finde 2. sorterings salg af keramik,
      skitser og udgåede varer. Her er det muligt at finde en unik keramisk gave
      eller forkæle dig selv med dansk håndlavet design til gode priser.
    </p>
  </div>
  <div class="divimg">
    <center><img class="img1" src="../images/eventsimg1.webp" alt="" /></center>
  </div>
</div>

<div class="grid1">
  <img class="img2" src="../images/julemarked_event.webp" alt="" />
  <div class="event1">
    <h3>JULEMARKED PÅ KERAMIKVÆRKSTEDET</h3>
    <h4>LOKATION: VIKTORIA CERAMIC STUDIO</h4>
    <button>SE EVENT</button>
  </div>
  <img class="img2" src="../images/jul_event.webp" alt="" />
  <div class="event1">
    <h3>JUL PÅ VIKTORIA CERAMIC STUDIO</h3>
    <h4>LOKATION: VIKTORIA CERAMIC STUDIO</h4>
    <button>SE EVENT</button>
  </div>
  <img class="img2" src="../images/bolig_event.webp" alt="" />
  <div class="event1">
    <h3>VIKTORIA CERAMIC STUDIO PÅ BOLIG , MAD & DESIGN MESSE</h3>
    <h4>LOKATION: BELLA CENTER COPENHAGEN</h4>
    <button>SE EVENT</button>
  </div>
  <img class="img2" src="../images/clayform_event.webp" alt="" />
  <div class="event1">
    <h3>CLAYFORM PÅ FORMLAND</h3>
    <h4>LOKATION: HERNING MESSECENTER</h4>
    <button>SE EVENT</button>
  </div>
  <img class="img2" src="../images/julemarked2019_event.webp" alt="" />
  <div class="event1">
    <h3>JULEMARKED HOS VIKTORIA CERAMIC STUDIO 2019</h3>
    <h4>LOKATION: VIKTORIA CERAMIC STUDIO CPH</h4>
    <button>SE EVENT</button>
  </div>
</div>

<style>
  /* mobilefirst version */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f4ede5;
  }

  .div1 {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .divimg {
    order: -1;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .event1 {
    margin-inline: 7%;
  }

  .img2 {
    margin-inline: 7%;
    padding-top: 38px;
    padding-bottom: 20px;
    width: 87%;
  }

  .img1 {
    width: 70%;
  }

  .overskrift_events {
    font-family: "commuters-sans", sans-serif;
    font-size: 23px;
    padding-bottom: 30px;
  }

  p {
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    padding-bottom: 15px;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    padding-bottom: 27px;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 23px;
    padding-top: 15px;
  }

  button {
    border: none;
    padding: 12px;
    background-color: #977a15;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: #f4ede5;
    cursor: pointer;
    width: 40%;
  }

  button:hover {
    background-color: #d3bcb0;
    color: black;
  }

  /* ipad/tablet version */
  @media (min-width: 820px) {
    button {
      border: none;
      padding: 15px;
      background-color: #977a15;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      border-radius: 5px;
      color: #f4ede5;
      cursor: pointer;
      width: 25%;
    }
  }

  /* desktop version */
  @media (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #f4ede5;
    }

    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    .img1 {
      width: 50%;
    }

    .divimg {
      order: 1;
      margin-top: 5%;
    }

    .img2 {
      width: 90%;
      margin-left: 7%;
      padding-bottom: 60px;
    }

    .event1 {
      margin-right: 7%;
      padding-top: 38px;
    }

    .overskrift_events {
      font-family: "commuters-sans", sans-serif;
      font-size: 30px;
      padding-bottom: 30px;
    }

    p {
      font-family: "Raleway", sans-serif;
      line-height: 2em;
      font-size: 15px;
      padding-bottom: 20px;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 27px;
    }

    h4 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 27px;
      padding-top: 22px;
    }

    button {
      border: none;
      padding: 15px;
      background-color: #977a15;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      border-radius: 5px;
      color: #f4ede5;
      cursor: pointer;
      width: 23%;
    }

    button:hover {
      background-color: #d3bcb0;
      color: black;
    }

    .div1 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .img1 {
      width: 70%;
    }
  }
</style>
