<section class="event">
  <div class="img2">
    <img src="../public/eventbilleder/single.jpg" alt="" />
  </div>
  <div class="event1">
    <div class="første">
      <h3>Deltag i Matcha event</h3>
      <div class="hele tekst">
        <div class="tekst1">
          <p>
            Matcha består af helt fintmalede grønne teblade og indeholder alle
            de mange mineraler, antioxidanter og vitaminer, som grøn te er kendt
            for. Mange drikker matcha som en erstatning for kaffe, imens de
            nyder den karaktersitiske og komplekse smag. Noget matcha kan smage
            bittert. Men hvis teen tilberedes på den helt rigtige måde, ved den
            rette temperatur, vil teen smage fyldig, let sød og frisk.
          </p>
        </div>
        <div class="tekst2">
          <p>
            I samarbejde med Martinis Matcha, afholder Sakura Copenhagen et
            matcha event og workshop. Her har du mulighed for at lære mere om
            matcha, hvordan det tilberedes og de sundhedsmæssige fordele det
            har.
          </p>
        </div>
      </div>
      <div class="pris">
        <h4>pris: 250kr</h4>
      </div>
    </div>
  </div>
</section>

<section class="event">
  <div class="anden">
    <h3>Ved Køb af Matcha event får du:</h3>
    <div class="list">
      <ol>
        <li>1 stk Martiny’s Matcha pulver til en værdi af 189 kr</li>
        <li>Information omkring matcha teens historie</li>
        <li>Undervisning i at lave den perfekte matcha te eller latte</li>
        <li>
          Undervisning i de mange sundhedsmæssige fordele ved at drikke matcha
        </li>
        <li>15% på alle matcha produkter i butikken</li>
      </ol>
    </div>
  </div>

  <div>
    <img class="img2" src="../public/eventbilleder/single1.jpg" alt="" />
  </div>
</section>

<section>
  <center><button> Tilføj til kurv</button></center>
</section>

<style>
  /* mobile first */

  /* .event {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .event1 {
    grid-row: 2 / 2;
  }

  .img2 {
    grid-row: 1 / 2;
  } */

  .pris {
    padding: 10%;
    text-align: right;
  }
  html {
    background-color: var(--Semantik-Baggrund-Beige);
  }

  p,
  li {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 10px;
  }
  .event {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .første {
    margin-left: 10%;
  }

  .anden {
    margin-right: 10%;
  }
  .list {
    margin-inline: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h1 {
    /* /* position: absolute; */
    text-align: center;
    font-size: 50px;
    color: var(--Semantik-Text-brødtekst-White); */
    position: absolute;
    font-size: 30px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Semantik-Text-brødtekst-White);
  }

  img {
    width: 100%;
    height: auto;
  }
  .img1 {
    width: 100%;
    border-radius: 10%;
  }
  .img2 {
    width: 100%;
    border-radius: 10%;
  }

  button {
    border: none;
    padding: 12px;
    background-color: var(--Semantik-Knap-Red);
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
    color: var(--Semantik-Text-Knaptext-White);
    margin: 5%;
  }

  button:hover {
    background-color: var(--Semantik-Knap-Red);
    color: var(--Semantik-Text-Knaptext-Black);
  }

  @media (min-width: 1000px) {
    .pris {
      padding: 10%;
      text-align: right;
    }
    html {
      background-color: var(--Semantik-Baggrund-Beige);
    }

    p,
    li {
      font-size: 20px;
      padding-top: 25px;
      padding-left: 10px;
    }
    .event {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .første {
      margin-left: 10%;
    }

    .anden {
      margin-right: 10%;
    }
    .list {
      margin-inline: 2%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--Semantik-Text-brødtekst-White);
    }

    img {
      width: 100%;
      height: auto;
    }
    .img1 {
      width: 100%;
      border-radius: 10%;
    }
    .img2 {
      width: 100%;
      height: 90%;
      border-radius: 10%;
    }

    button {
      border: none;
      padding: 12px;
      background-color: var(--Semantik-Knap-Red);
      font-size: 15px;
      border-radius: 20px;
      cursor: pointer;
      width: 20%;
      color: var(--Semantik-Text-Knaptext-White);
    }

    button:hover {
      background-color: var(--Semantik-Text-Knaptext-White);
      color: var(--Semantik-Text---Semantik-Text-Knaptext-red);
    }
  }
</style>
