---
import "../style/mutual.css";
---
<footer>
    <div class="footer_alt">
        <div class="boks1og2">
      <div class="boks1">
        <h3>Kundeservice</h3>
        <p>Levering og retur</p>
        <p>FAQ</p>
        <p>Kontakt os</p>
      </div>
      <div class="boks2">
        <h3>Information</h3>
        <p>Om os</p>
        <p>Åbningstider</p>
        <p>Smiley rapport fra fødevarestyrelsens</p>
        <p>Handelsbetingelser</p>
        <p>Cookies og privatlivspolitik</p>
      </div>
     </div>
      <div class="boks3">
        <h3>Kontakt os</h3>
        <p>E-mail: hello@sakuracph.dk</p>
        <p>Telefon: 31 36 41 91</p>
        <p>Besøg vores butik: Gammel Kongevej 91, 1850 Frederiksberg C</p>
        <div class="icons">
          <a href="https://www.instagram.com/sakura_copenhagen/"> <img class="ikon" src="/images/instagram.webp" alt="instagram"></a>
          <a href="https://www.facebook.com/sakuracopenhagen"><img class="ikon" src="/images/facebook.webp" alt="facebook"></a>
          <a href="mailto:hello@sakura.dk"> <img class="ikon" src="/images/email.webp" alt=""></a>
         
        </div>
      </div>
      <div class="boks4">
        <h3 class="nyhedsbrev">Nyhedsbrev</h3>
        <p>Tilmeld dig vores nyhedsbrev og vær den første til at høre om nye produkter, deltag i konkurrencer og få adgang til andre fordele.</p>
        <div class="inputs">
          <input class="email" type="text" placeholder="E-mail" name="email" required />
  
          <div class="knap">
            <a href="#"><button class="sign_up">SEND</button></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <style>

    .icons {
      display: flex;
      flex-direction: row;
      padding-top: 30px;
    }

    .ikon {
      width: 42%;
    }


    /* desktop version */
    .nyhedsbrev{
        font-size: 20px;
        font-family: "didotltstd-roman";
    }
    .inputs {
      padding-top: 15px;
    }
  
    /* .cookie {
      margin-left: 10%;
      padding-bottom: 10px;
    } */
  
    .bar_1 {
      float: left;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .bar_2 {
      float: right;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .email {
      width: 100%;
      padding: 14px;
      margin: 2px 0 5px 0;
      border: 0.5px solid var(--Primitives-Farver-Hvid-sort-01);
      background: var(--Primitives-Farver-Brun-02);
      font-family: "avenirnext-regular";
      border-radius: 20px;
    }
  
    .knap {
      padding-top: 10px;
      padding-inline: 22%;
    }

    button{
      text-align: center;
      cursor: pointer;
      font-family: "avenirnext-regular";
    font-size: 15px;
    margin: 10px;
    width: 200px;
    border: none;
    background-color: var(--Semantik-Knap-Red);
    color: var(--Semantik-Knap-Hvid);
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: var(--Semantik-Knap-Red);
    }
    button:hover {
      background-color: var(--Semantik-Baggrund-Brown);
      border-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Knap-Red);
    }
  
    .footer_alt {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 60px 50px 60px 50px;
      gap: 60px;
    }
  
    h3 {
      font-weight: normal;
      letter-spacing: 1px;
      font-family: "avenirnext-regular", bold;
      font-size: 15px;
      font-weight: bold;
    }
    .hours {
      padding-top: 20px;
    }
  
    p {
      font-family: "avenirnext-regular";
      padding-top: 20px;
      font-size: 13px;
      line-height: 1.7;
    }
  
    .boks4 {
      margin-inline: 0%;
    }
  
    .boks3 {
      margin-inline: 20%;
    }
  
    .boks2 {
      margin-inline: 20%;
    } 

    .boks2-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
        gap: 20px;
    }
  
    footer {
      background-color: var(--Semantik-Baggrund-Brown);
    }

    .boks1og2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* mobil version */
    @media (max-width: 820px) {

      .icons {
        width: 42%;
      }
      .footer_alt {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 15px 37px 15px;
      }
  
      .boks1 {
        padding-bottom: 15px;
        padding-top: 30px;
      }
  
      .boks2 {
        padding-bottom: 35px;
        padding-top: 30px;
        margin-inline: 0%;
      }
  
      .boks2-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
        gap: 20px;
      }
  
      .boks3 {
        padding-bottom: 43px;
        padding-top: 10px;
        margin-inline: 0%;
      }

      .boks1og2{
        gap: 32px;
      }

      .knap{
        padding-inline: 20%;
      }

      h3{
        font-size: 15px;
      }

      p{
        font-size: 13px;
      }

      .nyhedsbrev{
        font-size: 20px;
      }
    }

    @media (min-width:1900px){
      .email {
      width: 92%;
    }

    p{
      font-size: 20px;
    }

    h3{
      font-size: 25px;
    }

    .nyhedsbrev{
      font-size: 30px;
    }
    }

  </style>