    <div class="latte_boks1">
    <img class="guide_billeder"src="/images/guide_latte1.jpg" alt="guidelatte1">
    <div class="tekstboks">
        <h4>Step 1</h4>
        <p3> Varm vand op til 75-80 grader, da kogende vand vil brænde den fine matcha og give teen en bitter smag. Start med at hælde varmt vand i koppen og stil pisken med hovedet nedad. På den måde blødgør du bambussen, så piskeriset ikke knækker når du pisker.</p3>
    </div>
    </div>
    
    <div class="latte_boks1">
        <div class="tekstboks">
            <h4>Step 2</h4>
            <p3> Hæld det varme vand ud og sørg for at tørre koppen helt af, for ikke at have bundfald der sidder fast på koppen.</p3>
        </div>
        <img class="guide_billeder" src="/images/guide_latte2.jpg" alt="guidelatte2">
    </div>
    
    <div class="latte_boks1">
        <img class="guide_billeder" src="/images/guide_latte3.jpg" alt="guidelatte3">
        <div class="tekstboks">
            <h4>Step 3</h4>
            <p3> Mål derefter 1-2 gram matchapulver af, alt efter hvor kraftig du vil have din te. Her kan du bruge din bambus rørepind, da den måler den. perfekte mængde matcha. Én ske måler 1 gram. </p3>
        </div>
    </div>
    
    <div class="latte_boks1">
        <div class="tekstboks">
            <h4>Step 4</h4>
            <p3> Sigt matcha pulveret og sørg for at der ikke kommer nogle klumper i din te.</p3>
        </div>
        <img class="guide_billeder" src="/images/guide_latte4.jpg" alt="guidelatte4">
    </div>
    
    <div class="latte_boks1">
        <img class="guide_billeder" src="/images/guide_latte5.jpg" alt="guidelatte5">
        <div class="tekstboks">
            <h4>Step 5</h4>
            <p3> Hæld 0,5 dl af det 75-80 grader varme vand i koppen.  </p3>
        </div>
    </div>
    
    <div class="latte_boks1">
        <div class="tekstboks">
            <h4>Step 6</h4>
            <p3> Brug pisken til at piske i hurtige bevægelser frem og tilbage og ikke rundt. Det er kun håndledet der arbejder. Pisk i ca. 20 sek, indtil der kommer skum på toppen.</p3>
        </div>
        <img class="guide_billeder" src="/images/guide_latte6.jpg" alt="guidelatte6">
    </div>
    
    
    <div class="latte_boks1">
        <img class="guide_billeder" src="/images/guide_latte7.jpg" alt="guidelatte7">
        <div class="tekstboks">
            <h4>Step 7</h4>
            <p3> Lun din mælk elller brug en steamer, så din matcha latte bliver lækker og cremet.</p3>
        </div>
    </div>

    <div class="latte_boks1">
        <div class="tekstboks">
            <h4>Step 8</h4>
            <p3> Nu kan du nyde din matcha latte! </p3>
        </div>
        <img class="guide_billeder" src="/images/guide_latte8.jpg" alt="guidelatte8">
    </div>
    
    
    
    <style>
    
          /* mobil version */ 
          .latte_boks1{
            display: grid;
            grid-template-columns: 1fr;
        }
    
        img{
            width: 50%;
        }
    
            /* ipad/tablet version */ 
       @media (min-width: 820px) {
        .latte_boks1{
            display: grid;
            grid-template-columns: 1fr;
        }
       }
    
        /* desktop version */ 
        @media (min-width: 1000px) {
            img{
            width: 70%;
          height: auto;
    
        }
    
        .latte_boks1{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-right: 30px;
        }
    
        .guide_billeder{
            border-radius: 20px;
            padding-left: 50px;
        }
    
        .tekstboks{
            padding-left: 50px;
        }
    
        h4{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        }
    
    
    </style>