

<div class="te_boks">
    <div>
    <h4>Hvad skal du bruge?</h4>
    <img src="/public/images/ting.png" alt="billede1">
    </div>
    <div>
    <h4>Ingredienser</h4>
    <div class="boks_1">
        <h1>1.</h1>
        <p>1-2 tsk. matchapulver</p>
    </div>
    <div class="boks_2">
        <h1>2.</h1>
        <p>2 dl 75-80 graders varmt vand</p>
    </div>
    </div>
</div>

<style>

        /* ipad/tablet version */ 
   @media (min-width: 820px) {
    .te_boks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 100px 50px 50px 50px;
    }
   }

    /* mobil version */ 
    .te_boks{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 100px 50px 50px 50px;
    } 

         /* desktop version */ 
         @media (min-width: 1000px) {
        .te_boks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 100px 50px 50px 50px;
    }

    .boks_1{
        display: flex;
    }

    .boks_2{
        display: flex;
     }
    }

</style>