<section id="Hvadermatcha">

<div class="div1">

<div class="image">
    <img src="/images/latte.jpg" alt="">
</div>

<div>
    <p class="p3">
        Matcha te er en traditionel japansk grøn te, lavet af specielt dyrkede grønne teblade, som kommer i en pulverform. Bladene kommer fra den specielle tebusk Camellia Sinensis. <br>

<br>Bladene knuses langsomt og forsigtigt til pulver, sådan at teen ikke bliver opvarmet under knusning. Pulveret opløses direkte i varmt vand under omrøring, ved hjælp af et særligt piskeris lavet af bambus. På den måde laves den grønne te, med en diskret, frisk smag, der kan være en smule bitter. <br> 

<br>Der er stor forskel på matcha i forhold til hvor det bliver dyrket henne. Der er matcha som bliver sol dyrket og skygge dyrket. Og så er der også økologisk og ikke økologisk matcha. Så generelt findes der mange forskellige slags matcha. <br>

<br>Oprindeligt kommer matcha fra Kina, men blev meget hurtigt viderebragt til Japan i det 12. århundrede. Det var den zen-buddhistiske munk Eisai, der bragte teen med sig til Japan. Han opdagede, at matcha teen forbedrede hans evne til at meditere, da det virkede beroligende.
    </p>
</div>

</div>
</section>


<style>
    .div1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }


    @media (min-width: 1000px) {
        .div1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 100px;
    }  
    }
</style>