---
import "../style/mutual.css";
---
<section>
    <div class="grid"><a href="eventside"><button> Se alle events</button></a></div>
  </section>
  <style>
    section {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    button {
      border: none;
      background-color: var(--Semantik-Knap-Red);
      font-family: "avenirnext-regular";
      font-size: 15px;
      border-radius: 50px;
      color: var(--Semantik-Text-Knaptext-White);
      cursor: pointer;
      border-style: solid;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-inline: 60px;
      font-weight: bold;
    }
  
    button:hover {
      background-color: var(--Semantik-Baggrund-Beige);
      border-color: var(--Semantik-Knap-Red);
      color: var(--Semantik-Knap-Red);
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    @media (min-width: 1000px) {
      section {
        margin-inline: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      button {
        border: none;
        background-color: var(--Semantik-Knap-Red);
        font-family: "avenirnext-regular";
        font-size: 15px;
        border-radius: 50px;
        color: var(--Semantik-Knap-Hvid);
        cursor: pointer;
        justify-items: center;
        border-style: solid;
        padding-top: 20px;
      padding-bottom: 20px;
      padding-inline: 60px;
      border-color: var(--Semantik-Knap-Red);
      font-weight: bold;
      }
  
      button:hover {
        background-color: var(--Semantik-Baggrund-Beige);
      border-color: var(--Semantik-Knap-Red);
        color: var(--Semantik-Text-Knaptext-red);
      }
  
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }

    @media (min-width: 1900px) {
      button {
        padding-inline: 100px;
        font-size: 20px;
        font-family: "avenirnext-regular";
        font-weight: bold;
      }
    }
  </style>
  