<div>
  <h2>Video guide</h2>
</div>
<div class="video">
  <video controls="" src="/public/video/Matcha_latte.mov" width="80%"></video>
</div>

<style>
  video {
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    /* padding-bottom: 5%; */
  }

  h2 {
    margin-left: 10%;
    padding: 2%;
  }
</style>
