<div>
  <h2>Video guide</h2>
</div>
<div class="video">
  <video controls autoplay src="/video/teguide.mov" width="85%"></video>
</div>

<style>
  video {
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 7%;
  }
  h2 {
    margin-left: 7%;
    margin-top: 80px;
    font-family: "didotltstd-roman";
    font-size: 50px;
  }

  /* mobil verison */
  @media (max-width: 820px){
   video{
    width: 90%;
    margin: 0%;
    margin-left: 5%;
    margin-bottom: 40px;
   }

   h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
   }
  }
</style>
