---
import "../style/mutual.css";
---
<section id="fordele">
<div class="slange">

<div class="div1">
<div>
<h1 class="tal">1.</h1>
</div>

<div class="tekst">
<h4>Naturlige antioxidanter</h4>
<p>Matcha-te har et meget højt indhold af antioxidanter, især polyfenoler, der bidrager til dens sundhedsmæssige fordele. Polyfenoler og grøn te forbindes med en positiv indvirkning på hjerte-kar-sundheden, da de kan hjælpe med at beskytte mod hjertesygdomme og stabilisere blodtrykket. De kan også hjælpe med at opretholde normale blodsukkerniveauer, hvilket er vigtigt for et sundt stofskifte og overordnet velvære.</p>
</div>
</div>

<div class="div2">
    <div>
    <h1 class="tal">2.</h1>
    </div>
    
    <div class="tekst">
    <h4>Naturlig Energi</h4>
    <p>Matcha giver kroppen en god og naturlig energi, der kan gavne dig gennem hele dagen. Ligesom andre grønne teer indeholder matcha koffein, hvilket giver en naturlig energi-boost. Denne effekt understøttes af kombinationen af matchaens øvrige næringsstoffer, såsom L-theanin og antioxidanter. Sammen skaber de en afbalanceret energikilde, der kan øge fokus og koncentration uden de negative bivirkninger, der ofte følger med andre koffeindrikke.</p>
    </div>
 </div>


 <div class="div3">
    <div>
    <h1 class="tal">3.</h1>
    </div>
    
    <div class="tekst">
    <h4>Styrker immunforsvaret</h4>
    <p>Antioxidanterne i matcha fungerer som en naturlig blokade mod bakterier og sygdomme, hvilket hjælper med at beskytte kroppen og støtte et sundt immunforsvar. Teen indeholder også vigtige næringsstoffer som kalium, A-vitamin, C-vitamin, jern og calcium, der alle bidrager til kroppens normale forsvarssystem. Disse næringsstoffer er afgørende for at opretholde en stærk og sund krop, og de arbejder sammen med antioxidanterne for at beskytte mod sygdom og fremme generel sundhed.</p>
    </div>
 </div>

 <div class="div4">
    <div>
    <h1 class="tal">4.</h1>
    </div>
    
    <div class="tekst">
    <h4>Afslappende effekt</h4>
    <p>På trods af koffeinindholdet indeholder matcha også aminosyren L-theanin, der har en afslappende og beroligende effekt på kroppen. Denne unikke kombination kan bidrage til at sænke dit stressniveau i en travl og hektisk hverdag, samtidig med at du stadig oplever et energiboost. L-theanin hjælper med at fremme ro og afslapning, hvilket giver dig mulighed for at bevare fokus og koncentration uden at føle dig overstimuleret.</p>
    </div>
 </div>

</div>
</section>


<style>
    
    #fordele{
        background-image: url(/images/Swirl.png);
         width: 100%; 
         height: auto;
         background-size: cover;
         
         
    }

    .slange {
        padding-inline: 20px;
        
        
    }


    .div1 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 80px;
        padding-bottom: 110px;
        
    }

    .div2 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 30px;
        padding-bottom: 110px;
     
       
    }

    .div3 {
        display: flex;
        
        padding-inline: 10px;
      
        padding-top: 30px;
        padding-bottom: 110px;
    }

    .div4 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 30px;
        padding-bottom: 200px;
        
    }

    .tal {
        font-size: 100px;
        color: var(--Semantik-Text-Overskrift-Green);
        font-family: "didotltstd-roman";
    }

    .tekst {
        width: 470px;
        padding-top: 20px;
        padding-inline: 10px;
    }

    h4 {
        padding-bottom: 10px;
        font-family: "didotltstd-roman";
    }

    p {
        font-family: "avenirnext-regular";
    }


    @media (min-width: 1000px) {

        .slange {
        padding-inline: 50px;
        
    }
        .tal {
        font-size: 300px;
        color: var(--Semantik-Text-Overskrift-Green);
        font-family: "didotltstd-roman";
    }

    .tekst {
        width: 470px;
        padding-top: 60px;
        padding-inline: 70px;
    }

    .div1 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 80px;
        padding-bottom: 110px;
        
    }

    .div2 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 30px;
        padding-bottom: 110px;
        justify-content: flex-end;
        padding-right: 0px;
    }

    .div3 {
        display: flex;
        
        padding-inline: 10px;
        padding-left: 70px;
        padding-top: 30px;
        padding-bottom: 110px;
    }

    .div4 {
        display: flex;
        
        padding-inline: 10px;
        padding-top: 30px;
        padding-bottom: 200px;
        justify-content: flex-end;
    }

    p {
        font-family: "avenirnext-regular";
    }
    }


    @media (min-width: 1900px) {

.slange {
padding-inline: 50px;

}
.tal {
font-size: 300px;
color: var(--Semantik-Text-Overskrift-Green);
font-family: "didotltstd-roman";
}

.tekst {
width: 470px;
padding-top: 60px;
padding-inline: 70px;
}

.div1 {
display: flex;

padding-inline: 10px;
padding-top: 80px;
padding-bottom: 110px;

}

.div2 {
display: flex;

padding-inline: 10px;
padding-top: 30px;
padding-bottom: 110px;
justify-content: flex-end;
padding-right: 120px;
}

.div3 {
display: flex;

padding-inline: 10px;
padding-left: 90px;
padding-top: 200px;
padding-bottom: 110px;
}

.div4 {
display: flex;

padding-inline: 10px;
padding-top: 30px;
padding-bottom: 200px;
justify-content: flex-end;
}

p {
font-family: "avenirnext-regular";
}
}

</style>